Package: cosmic-utils-monorepo
Version: @VERSION@
Architecture: amd64
Maintainer: Ritesh Raj Sarraf <rrs@researchut.com>
Section: x11
Priority: optional
Homepage: https://github.com/rickysarraf/debian-cosmic
Recommends: cosmic-epoch-monorepo (= @VERSION@)
Built-Using: cosmic-epoch-monorepo (= @VERSION@)
Description: Unified COSMIC Community Utilities
 This package provides a collection of community-developed utilities 
 and applets for the COSMIC Desktop Environment, including Tweaks, 
 Vigil, Chronos, Calculator, Tasks, AppHub, Stellarshot, Forecast, 
 Examine, Camera, Ollama, and various applets 
 like Minimon, Weather, SysInfo, LogoMenu, and Noctua.
 .
 This package is strictly tied to the version of cosmic-epoch-monorepo 
 it was built against.
